.color-title{
    color: #67326a;
    text-align: center;
}

.fundo{
    background-color: #67326a !important;
    text-align: center;
}

.button-cadastrar{
    --ion-color-primary: #e056fd;
      width: 100%;
}