<ion-content>
  <ion-card>
    <ion-item href="/create-user" class="ion-activated">
      <ion-icon style="color: #67326a;" name="game-controller" slot="start"></ion-icon>
      <ion-label>Jogar</ion-label>
    </ion-item>
  
    <ion-item href="create-group">
      <ion-icon style="color: #67326a;" name="people-circle-outline" slot="start"></ion-icon>
      <ion-label>Registrar Grupo</ion-label>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title style="color: #67326a" class="ion-text-center">Quem Somos ?</ion-card-title>
    </ion-card-header>
  
    <ion-card-content style="color: black; text-align: justify;">
      Somos um grupo multidisciplinar composto por professores e acadêmicos dos cursos de Medicina, Análise e Desenvolvimento de Sistemas, Publicidade e Enfermagem da Fundação Educacional do Município de Assis (FEMA). Nosso objetivo é contribuir para a compreensão da importância e dos benefícios do aleitamento materno, incentivar sua prática e esclarecer algumas dúvidas a respeito do tema através do uso de um aplicativo móvel, que permite o acesso de forma prática e rápida por gestantes, puérperas, familiares e amigos das mesmas, ou qualquer pessoa que se interessar pelo tema.
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-list-header class="ion-text-center">
      Autores
    </ion-list-header>

    <ion-item>
      <ion-label>
        <h2>Allana Costa Mantovani</h2>
        <h3>allana.mantovani@outlook.com</h3>
        <p>Acadêmica de Medicina</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>Bianca Sanches Rodrigues Marquezine</h2>
        <h3>biancamarquezine@outlook.com</h3>
        <p>Acadêmica de Medicina</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>Carla Fabiana Souza Guazelli</h2>
        <h3>carlafsg@yahoo.com.br</h3>
        <p>Acadêmica de Medicina</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>Djavan Franco Lopes</h2>
        <h3>djavanlopes0@gmail.com</h3>
        <p>Acadêmico de Publicidade.</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>Giulia Lázaro Amêndola</h2>
        <h3>giulialazaro01@gmail.com</h3>
        <p>Acadêmica de Análise e Desenvolvimento de Sistemas</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>Ana Luisa Antunes Dias</h2>
        <h3>antunesdias@hotmail.com</h3>
        <p>Profª. Drª. do curso de Publicidade</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>Camila Marroni Roncon</h2>
        <h3>camilaroncon@gmail.com</h3>
        <p>Profª. Phd. do curso de Medicina</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>Luiz Carlos Begosso</h2>
        <h3>begosso@gmail.com</h3>
        <p style="overflow-wrap: break-word !important">Prof. Dr. do curso de Análise e Desenvolvimento de Sistemas</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>Paula Fernandes Chadi</h2>
        <h3>pchadi@hotmail.com.br</h3>
        <p>Profª. Drª. do curso de Medicina.</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>Verusca Kelly Capelline Brizolla</h2>
        <h3>veruscakelly@hotmail.com</h3>
        <p>Profª. Drª. do curso de Enfermagem</p>
      </ion-label>
    </ion-item>







  </ion-list>
</ion-content>








