.color-title{
    color: white;
    text-align: center;
}

.fundo{
        --ion-background-color:#67326a  
}

.button-cadastrar{
    text-align: center;
    --ion-color-primary: #67326a;
    margin-top: 20px;
}

.icone {
    color: #67326a
}

.border-text {
    margin-top: 15px;
    border-bottom: 10px solid #67326a;
    border-radius: 40px 39px 40px 40px;
    text-align: center;
}